<mat-toolbar-row>
    <button mat-button (click)="onUndo()">Undo</button>
    <button mat-button (click)="onClear()">Clear</button>
    <button mat-button (click)="addVar()">Add Variable</button>
</mat-toolbar-row>
<div class="container">
    <app-exp [lineage]="rootLineage | async" (changed)="mainChanged($event)" (removed)="mainRemoved($event)"></app-exp>
    <app-var class="var" *ngFor="let pair of vars | async" [name]="pair.name" [exp]="pair.exp" (changed)="onVarChanged(pair.name, $event)" (removed)="onVarRemoved(pair.name, $event)"></app-var>
</div>
<app-tex [tex]="result | async"></app-tex>