<!-- <app-row *ngFor="let row of mat.elements" [exps]="row"></app-row> -->
<div #tbl>
    <table>
        <tr *ngFor="let row of mat.elements; index as ridx">
            <td *ngFor="let cell of row; index as cidx">
                <button mat-raised-button (click)="onCellClick(ridx, cidx)">
                    <app-cell [exp]="cell" ></app-cell>
                </button>
            </td>
        </tr>
    </table>
</div>
<div #highlightbox class="highlighted">
    <div *ngFor="let row of rows | async" class="rowDivision" [ngStyle]="{'left':row}"></div>
    <div *ngFor="let col of cols | async" class="colDivision" [ngStyle]="{'top':col}"></div>
</div>
<div #handle class="example-box" cdkDrag (cdkDragMoved)="onHandleMove($event)"></div>
