<mat-card>
    <button mat-raised-button (click)="onTexClick()">
        <app-tex [tex]="_lineage.exp.latex"></app-tex>
    </button>
    <div *ngIf="mat; else elseBlock">
        <app-matrix [mat]="mat" (cellClick)="onCellClick($event)" (resized)="onMatrixResize($event)"></app-matrix>
    </div>
    <ng-template #elseBlock>

        <div *ngIf="centers && centers.length > 0">
            <svg width="100%" height="30">
                <line x1="32" y1="0" x2="32" y2="15" style="stroke:rgb(0, 0, 0);stroke-width:2" />
                <line x1="32" y1="15" [attr.x2]="end" y2="15" style="stroke:rgb(0, 0, 0);stroke-width:2" />
                <line *ngFor="let center of centers" [attr.x1]="center" y1="15" [attr.x2]="center" y2="30" style="stroke:rgb(0, 0, 0);stroke-width:2" />
            </svg>
            <!-- <canvas #canvasEl width="100%" height="30"></canvas> -->
        </div>
        <div class="container">
            <app-exp #subview class="item" *ngFor="let lin of subviewLineages" [lineage]="lin" (changed)="onKidChanged($event)" (removed)="onRemove($event)">
            </app-exp>
        </div>

    </ng-template>


</mat-card>