<mat-card>
    <button mat-raised-button (click)="onTexClick()">
        <app-tex [tex]="_lineage.exp.latex"></app-tex>
    </button>
    <div *ngIf="mat; else elseBlock">
        <app-matrix [mat]="mat" (cellClick)="onCellClick($event)" (resized)="onMatrixResize($event)"></app-matrix>
    </div>
    <ng-template #elseBlock>
        
        
        <div class="container">
            <app-exp class="item" *ngFor="let kid of exp.kids; index as idx" [lineage]="makeLineageForKid(idx)"
                (changed)="onKidChanged($event)"></app-exp>
            </div>

        </ng-template>


</mat-card>